table{
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, sans-serif;
}
thead{
    background-color: #0b4f9c;
    color: white;
}
th, td{
    padding: 12px;
    border: 1px solid #ddd;
}
tbody tr:nth-child(even){
    background-color: #f2f2f2;
}